<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>            
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body>
        <div class="outer_div">
            <form action="" method="POST" enctype="multipart/form-data">
                <div style="background-color: #C2FFF9; padding-bottom: 15px;">
                    <p class="p_1">Enter Username: <input style="border-bottom-style: outset;" type="text" name = "name"></p>
                    <p class="p_1">Enter password: <input style="border-bottom-style: outset;" type="text" name = "password"></p>
                </div>
                <div style="background-color:#C2FFF9; padding-bottom: 40px; margin-bottom: 2%; padding-top: 5%;">
                    <p class="p_2">OR</p>
                    <p class="p_3"><label>Upload QR : </label>
                    <input type="file" name="qr">
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
